#Exercise 1: Prime Numbers

In [ ]:
#Exercise 1: Prime Numbers

num=int(input("Enter the number: "))
# Negative numbers, 0 and 1 are not primes
#prime numbers are the greater than one or divided by 1 and themselves
if num > 1:

    # Iterate from 2 to n // 2
    for i in range(2, (num//2)+1):

        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number: 11
11 is a prime number

**Exercise 2: Product of Random Numbers**

In [ ]:
#Develop a Python program that generates two random numbers and asks the user to enter the product of these numbers.
#provide function for the generates the random number
import random

In [ ]:
#create the two variables that generate the random variable
n1=random.randint(1,10)
n2=random.randint(2,50)

#take the input from the users
user_ans=int(input(f"What is the product of the {n1} and {n2}??"))

result=n1*n2

#check if the user's answer is correct and display an appropriate message.
if user_ans==result:
  print("It is correct Well Done!")
else:
  print(f"It is wrong the right answer is{result}.")

**Exercise 3: Squares of Even/Odd Numbers**

In [ ]:
#Create a Python script that prints the squares of all even or odd numbers within the range of 100 to 200.
# Choose either even or odd numbers and document your choice in the code.

#square of the even numbers
for num in range(100,201):
  if num% 2==0:
    sqr=num**2
    print(f"The  even number---> {num}   and it's square is---> :",sqr)

The  even number---> 100   and it's square is---> : 10000
The  even number---> 102   and it's square is---> : 10404
The  even number---> 104   and it's square is---> : 10816
The  even number---> 106   and it's square is---> : 11236
The  even number---> 108   and it's square is---> : 11664
The  even number---> 110   and it's square is---> : 12100
The  even number---> 112   and it's square is---> : 12544
The  even number---> 114   and it's square is---> : 12996
The  even number---> 116   and it's square is---> : 13456
The  even number---> 118   and it's square is---> : 13924
The  even number---> 120   and it's square is---> : 14400
The  even number---> 122   and it's square is---> : 14884
The  even number---> 124   and it's square is---> : 15376
The  even number---> 126   and it's square is---> : 15876
The  even number---> 128   and it's square is---> : 16384
The  even number---> 130   and it's square is---> : 16900
The  even number---> 132   and it's square is---> : 17424
The  even number---> 134   and it's square is---> : 17956
The  even number---> 136   and it's square is---> : 18496
The  even number---> 138   and it's square is---> : 19044
The  even number---> 140   and it's square is---> : 19600
The  even number---> 142   and it's square is---> : 20164
The  even number---> 144   and it's square is---> : 20736
The  even number---> 146   and it's square is---> : 21316
The  even number---> 148   and it's square is---> : 21904
The  even number---> 150   and it's square is---> : 22500
The  even number---> 152   and it's square is---> : 23104
The  even number---> 154   and it's square is---> : 23716
The  even number---> 156   and it's square is---> : 24336
The  even number---> 158   and it's square is---> : 24964
The  even number---> 160   and it's square is---> : 25600
The  even number---> 162   and it's square is---> : 26244
The  even number---> 164   and it's square is---> : 26896
The  even number---> 166   and it's square is---> : 27556
The  even number---> 168   and it's square is---> : 28224
The  even number---> 170   and it's square is---> : 28900
The  even number---> 172   and it's square is---> : 29584
The  even number---> 174   and it's square is---> : 30276
The  even number---> 176   and it's square is---> : 30976
The  even number---> 178   and it's square is---> : 31684
The  even number---> 180   and it's square is---> : 32400
The  even number---> 182   and it's square is---> : 33124
The  even number---> 184   and it's square is---> : 33856
The  even number---> 186   and it's square is---> : 34596
The  even number---> 188   and it's square is---> : 35344
The  even number---> 190   and it's square is---> : 36100
The  even number---> 192   and it's square is---> : 36864
The  even number---> 194   and it's square is---> : 37636
The  even number---> 196   and it's square is---> : 38416
The  even number---> 198   and it's square is---> : 39204
The  even number---> 200   and it's square is---> : 40000

In [ ]:
#square of the odd numbers
for num in range(100,201):
  if num % 2 !=0:
    sqr=num**2
    print(f"The  odd number--> {num} and it's square is-->",sqr)

The  odd number--> 101 and it's square is--> 10201
The  odd number--> 103 and it's square is--> 10609
The  odd number--> 105 and it's square is--> 11025
The  odd number--> 107 and it's square is--> 11449
The  odd number--> 109 and it's square is--> 11881
The  odd number--> 111 and it's square is--> 12321
The  odd number--> 113 and it's square is--> 12769
The  odd number--> 115 and it's square is--> 13225
The  odd number--> 117 and it's square is--> 13689
The  odd number--> 119 and it's square is--> 14161
The  odd number--> 121 and it's square is--> 14641
The  odd number--> 123 and it's square is--> 15129
The  odd number--> 125 and it's square is--> 15625
The  odd number--> 127 and it's square is--> 16129
The  odd number--> 129 and it's square is--> 16641
The  odd number--> 131 and it's square is--> 17161
The  odd number--> 133 and it's square is--> 17689
The  odd number--> 135 and it's square is--> 18225
The  odd number--> 137 and it's square is--> 18769
The  odd number--> 139 and it's square is--> 19321
The  odd number--> 141 and it's square is--> 19881
The  odd number--> 143 and it's square is--> 20449
The  odd number--> 145 and it's square is--> 21025
The  odd number--> 147 and it's square is--> 21609
The  odd number--> 149 and it's square is--> 22201
The  odd number--> 151 and it's square is--> 22801
The  odd number--> 153 and it's square is--> 23409
The  odd number--> 155 and it's square is--> 24025
The  odd number--> 157 and it's square is--> 24649
The  odd number--> 159 and it's square is--> 25281
The  odd number--> 161 and it's square is--> 25921
The  odd number--> 163 and it's square is--> 26569
The  odd number--> 165 and it's square is--> 27225
The  odd number--> 167 and it's square is--> 27889
The  odd number--> 169 and it's square is--> 28561
The  odd number--> 171 and it's square is--> 29241
The  odd number--> 173 and it's square is--> 29929
The  odd number--> 175 and it's square is--> 30625
The  odd number--> 177 and it's square is--> 31329
The  odd number--> 179 and it's square is--> 32041
The  odd number--> 181 and it's square is--> 32761
The  odd number--> 183 and it's square is--> 33489
The  odd number--> 185 and it's square is--> 34225
The  odd number--> 187 and it's square is--> 34969
The  odd number--> 189 and it's square is--> 35721
The  odd number--> 191 and it's square is--> 36481
The  odd number--> 193 and it's square is--> 37249
The  odd number--> 195 and it's square is--> 38025
The  odd number--> 197 and it's square is--> 38809
The  odd number--> 199 and it's square is--> 39601

**Exercise 4: Word counter**

In [ ]:
#write a program to count the number of words in a given text.
from collections import Counter
#input text
input_text = "This is a sample text. This text will be used to demonstrate the word counter."

#split the given text into the words that it is separated by the comma
words=input_text.split()   #separate the text

#create an dictionary to store the words count
word_count={}

#use the for loop for the each letter in the word
for  letter in words:

    if letter in word_count:
      word_count[letter]+=1    #if letter exists then increment by one
    else:
      word_count[letter]=1  # or letter is not exists then it is equal to 1 and added it

for letter,count in word_count.items():   #items print the value in the key value pair
      print(f"'{letter}':{count}")

'This':2
'is':1
'a':1
'sample':1
'text.':1
'text':1
'will':1
'be':1
'used':1
'to':1
'demonstrate':1
'the':1
'word':1
'counter.':1

**Exercise 5: Check for Palindrome**

In [ ]:
#Write a Python function called is_palindrome that takes a string as input and returns True if the string is a palindrome, and False otherwise.
# A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization.

#   Palindrome===A string is said to be a palindrome if the reverse of the string is the same as the given input string

#create the function to check the string is  palindrome or not
#pass the input string
#the main purpose of these function is to print true if the string is palindrome
# else print the false if it is not palindrome
def is_palindrome(s):

#convert the passing string into lower case
    s=s.lower()

#remove the all non numeric character from the string that check the  character is letter or digits
    s = ''.join(char for char in s if char.isalnum())

#check the string is equal to its reverse and genarate the reverse of the string

    return s ==s[::-1]

#after removing the space punctuations marks and convert to the lower case it is same as given string then it is palindrome
print(is_palindrome("A man, a plan, a canal: Panama"))
print(is_palindrome("RaceCar"))
print(is_palindrome("Hello, World!"))
print(is_palindrome("12321"))
print(is_palindrome("malayalam!!"))
print(is_palindrome("41314"))

True
True
False
True
True
True

In [ ]:

def isPalindrome(s):
      s=s.lower()
      s = ''.join(char for char in s if char.isalnum())
      return s == s[::-1]


result = isPalindrome(s)

In [ ]:
is_palindrome("racecar")

True

In [ ]:
is_palindrome("DYPCET")

False

In [ ]:
is_palindrome("A man, a plan, a canal: Panama")

True